In [1]:
a = int(input("Enter the value of a: ")) 
b=int(input("Enter the value of b: ")) 
add=a+b 
sub=a-b 
mult=a*b 
div=a/b 
mod=a%b 
print("ADD:", add) 
print("Sum: {0}, Diff: {1}, Mult:{2}, Div:{3}, Mod: {4}".format(add, sub,mult,div,mod))

Enter the value of a:  60
Enter the value of b:  5

ADD: 65
Sum: 65, Diff: 55, Mult:300, Div:12.0, Mod: 0

In [3]:
print("Sum:{},Diff:{},Mult:{},Div:{},Mod:{}".format(add,sub,mult,div,mod))

Sum:65,Diff:55,Mult:300,Div:12.0,Mod:0

In [5]:
print("Sum: %d, Diff: %d, Mult: %d, Div: %15.6f, Mod:%d" % (add, sub, mult, div, mod))

Sum: 65, Diff: 55, Mult: 300, Div:       12.000000, Mod:0

In [7]:
print("Sum: %d, Diff: %d,Mult: %d, Div: %9.2f, Mod: %d" % (add,sub,mult,div,mod))

Sum: 65, Diff: 55,Mult: 300, Div:     12.00, Mod: 0

In [9]:
print('{0: <4} | {2:^4} | {1:^4} | {3:>4}' .format('sum','Diff', 'Mult','div'))
print('{0:<4} | {2:^4} | {1:^4} | {3:>4}'.format(add,sub,mult,div))

sum  | Mult | Diff |  div
65   | 300  |  55  | 12.0

In [11]:
a="Master Class"
print(f"welcome to python {a} !")

welcome to python Master Class !

In [13]:
f = input("Enter a company name - ")
g = input (" enter the number of employee - ")
print("The name of the company is and the number of employee are ",f,g)

Enter a company name -  CSM Technologies
 enter the number of employee -  32567

The name of the company is and the number of employee are  CSM Technologies 32567

In [15]:
print(" The name of the company is" ,f,"and the number of employees are ",g,)

 The name of the company is CSM Technologies and the number of employees are  32567

In [19]:
print(f"The name of the company is {f} and the number of employee are {g}")

The name of the company is CSM Technologies and the number of employee are 32567